*{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
.subheading{
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 15px;
    color: #E3E0F3;
}
.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}